* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  body {
  background-image: url("https://2.bp.blogspot.com/-WqoLhi9QcVw/UIrOucV3BXI/AAAAAAAATAE/Lhmau711BWI/s1600/papel-de-parede-feminino-12.jpg");
  background-size: cover;
  color: white;
  }
  
  a {
  text-decoration: none;
  color: unset;
  }
  
  ul {
  list-style: none;
  }


